
@import "./complements/variables";
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "./Components/modal";
@import "./Components/servicebar";
@import "./complements/funtions";
@import "./complements/buttons";
@import "./pages/detail";
@import "./complements/fonts";
@import "./Components/footer";
@import "./Components/navbar";
@import "./pages/index";
@import "./pages/woman";
@import "./pages/man";
@import "./pages/kids";
@import "./pages/contact";
@import "./pages/inconstruction";
@import "./pages/shoppingcart";


/*  -----  ESTILO GENERAL -----*/
* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}



