
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here

@import "./pages/index";
@import "./pages/woman";
@import "./pages/man";
@import "./pages/kids";
@import "./pages/contact";
@import "./pages/inconstruction";


/*  -----  ESTILO GENERAL -----*/
* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "calibri";
    src: url("../asset/fonts/calibri.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MADE TOMMY ExtraBold";
    src: url("../asset/fonts/MADE\ TOMMY\ ExtraBold.otf");
    font-style: normal;
    font-weight: 700;
}

.header {
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.navbar {
    font-family: "calibri";
    font-size: 20px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.9));
}


/* ----  ESTILO FOOTER  ----  */
.footer {
    background: #A57F6C;
}

.footer p {
    font-family: "calibri";
}

.footer .img__footer img {

    width: 394px;
    height: 400px;
    object-fit: contain;
}

.social {
    width: 30px;
    height: 30px;
}




/*     ==========================================   */
/*    =====>>>>>>> MEDIDA DESKTOP<<<<<<<==========  */
/*     ==========================================   */


@media screen and (min-width:992px) {

     /*  ----- ESTILOS DEL HEADER  -----  */

    .navbar img:hover{
        transform: rotate(360deg);
        transition: all 0.5s;
    }

    .navbar li a:hover {
        background-color: #1F8963;
        border-radius: 5px;
        font-weight: bold;
    }

}    