
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here


/*  -----  ESTILO GENERAL -----*/
* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "calibri";
    src: url("../asset/fonts/calibri.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MADE TOMMY ExtraBold";
    src: url("../asset/fonts/MADE\ TOMMY\ ExtraBold.otf");
    font-style: normal;
    font-weight: 700;
}

.header {
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.navbar {
    font-family: "calibri";
    font-size: 20px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.9));
}

/* ---->  ESTILO MAIN  <---- */

.main__main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__main__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main__main__video video {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: sepia(0.2);
}

.main__main__video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.main__main__title h1 {
    font-family: "MADE TOMMY ExtraBold";
    text-align: left;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 400%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.main__main__title-shopbtn a {
    font-family: "calibri";
    font-weight: bold;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 22px;
    width: 120px;
    height: 45px;
    margin-left: 25px;
    padding: 9px 15px;
    border-radius: 10px;
    background: #1F8963;
    color: whitesmoke;
}

.main__main__title-shopbtn a:hover {
    background: whitesmoke;
    color: rgb(70, 69, 69);
}

/* ----  ESTILO FOOTER  ----  */
.footer {
    background: #A57F6C;
}

.footer p {
    font-family: "calibri";
}

.footer .img__footer img {

    width: 394px;
    height: 400px;
    object-fit: contain;
}

.social {
    width: 30px;
    height: 30px;
}

/*----  ESTILO WOMAN  ----  */
/*  main section  */
.main__woman__wrap {
    width: 100vw;
    background-color: #E37C73;
    display: flex;
}

.main__woman-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 34%;
    margin-left: 16px;
    width: 255px;

}

.main__woman-title h2 {
    font-size: 42px;
    line-height: 50px;
    font-family: "MADE TOMMY ExtraBold";
    color: white;
}

.main__woman-title p {
    font-family: "calibri";
    width: 200px;
    padding-top: 8px;
    font-size: 16px;
    color: rgb(70, 69, 69);
}


.main__woman-title .link-shop {
    display: flex;
    margin: 10px 0px 20px 0px;
}

.main__woman-title .link-shop a {
    font-size: 20px;
    text-decoration: none;
    font-family: "calibri";
    color: whitesmoke;
    background-color: #1F8963;
    border-radius: 8px;
    padding: 10px 15px;
}

.main__woman-image {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.main__woman-image img {
    width: 266px;
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
}

/*  New Colletion section  */

.new__collection__wrap {
    background-color: whitesmoke;
}

.new__collection-title .title {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
    color: rgb(70, 69, 69);
}

.new__collection-title p {
    font-size: 16px;
    font-family: "calibri";
    color: rgb(70, 69, 69);
}


.new__collection-button a{
    font-family: "calibri";
    color: rgb(70, 69, 69);
    background-color: rgb(235, 235, 235);
}


   /*  IMAGEN Y ESTADISTICA*/
.new__collectiion__advertising h3{
    font-family: "MADE TOMMY ExtraBold";
}

/* best seller section*/

.best__seller__wrap {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 100vw;
    background-color: #A57F6C;
    padding-bottom: 20px;
}

.best__seller-title {
    width: 370px;
    height: 275px;
    padding-top: 30px;
    padding-left: 16px;
    color: whitesmoke;
}

.best__seller-title h3 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 40px;
}

.best__seller-title p {
    padding-top: 10px;
    font-family: "calibri";
    font-size: 17px;
}

.best__seller-button {
    margin-top: 20px;
}

.best__seller-button a {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: rgb(70, 69, 69);
    border-radius: 8px;
    font-weight: bold;
    font-family: "calibri";
    text-decoration: none;
}

.best__seller__cards__wrap {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    padding: 0px 50px;
}

.best__seller-card {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.best__seller-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best__seller-price {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: "calibri";
    color: rgb(70, 69, 69);
}

.best__seller-price p {
    text-align: center;
    padding-top: 3px;
}

/*  Our products */
.our__product__wrap {
    width: 100vw;
    display: grid;
    grid-template-rows: 0.4fr 8fr;
}

.our__product__links {
    text-align: center;
    padding-top: 30px;
}

.our__product__links h3 {
    font-family: "MADE TOMMY ExtraBold";
    color: rgb(70, 69, 69);
    font-size: 25px;
    padding-bottom: 15px;

}

.our__product__links a {
    text-decoration: none;
    font-family: "calibri";
    text-transform: uppercase;
    color: rgb(70, 69, 69);
    font-weight: 700;
    padding: 10px;
}

.our__product__cards__wrap {
    padding-top: 30px;
}

.our__product__cards {
    display: grid;
    grid-template-rows: repeat(8 1fr);
    justify-items: center;
    gap: 20px;

}

.our__product__cards-card {
    position: relative;
    display: flex;
    width: 290.4px;
    height: auto;
    align-items: end;

}

.our__product__cards-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our__product__cards-data {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50px;
    font-family: "calibri";
}

.our__product-title {
    font-weight: 700;
    font-size: 20px;
}

.our__product-price {
    font-size: 18px;
}

/*estilo seccion deal*/

.deal__promotion__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: #E37C73;
    padding: 16px;
}

.deal__promotion__title {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.deal__promotion__title-title {
    color: whitesmoke;
    width: 160px;
}

.deal__promotion__title-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 30px;
}

.deal__promotion__title-title p {
    padding-top: 20px;
    font-family: "calibri";
    font-size: 18px;
    padding-bottom: 20px;
}

.deal__promotion__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 190px;
    text-align: center;
}

.deal__promotion__box .deal__promotion__box-box {
    background-color: whitesmoke;
    border-radius: 3px;
    width: 60px;
    height: 40px;
    color: rgb(70, 69, 69);
    font-family: "calibri";
    line-height: 15px;
    padding-top: 5px;

}

.deal__promotion__box-box .number {
    font-weight: 700;
    font-size: 17px;
}

.deal__promotion__box-box .time {
    font-size: 16px;
}

.deal__promotion-button {
    margin-top: 20px;
}

.deal__promotion-button a {
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: "calibri";
    padding: 8px;
    border-radius: 8px;
}

.deal__promotion-img {
    justify-self: end;
    width: 160px;
    height: auto;
}

.deal__promotion-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* ----   ESTILO PAGINA HOMBRES  ---- */
.main__man__wrap {
    width: 100vw;
    display: flex;
    align-items: center;
}

.main__man__background-img {
    width: 100vw;
    height: 900px;
}

.main__man__background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__man__title {
    position: absolute;
    padding: 16px;
    width: 350px;
}

.main__man__title h2 {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

.main__man__title p {
    color: rgb(70, 69, 69);
    padding: 15px 0px;
}

.main__man-button {
    margin-top: 25px;
}

.main__man-button a {
    text-decoration: none;
    font-family: "calibri";
    color: whitesmoke;
    background-color: #1F8963;
    border-radius: 8px;
    padding: 10px 15px
}

/*  MAN New Colletion section  */

.man__new__collection__wrap {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.man__new__collection-title {
    padding: 30px 0px;
    color: rgb(70, 69, 69);
}

.man__new__collection-title h3 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
}

.man__new__collection-title p {
    font-family: "calibri";
    font-size: 16px;
    padding-top: 1px;
}

.man__new__collection__images__wrap {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.man__new__collection__cards {
    width: 340px;
    position: relative;
}

.man__new__collection__cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.man__new__collection-button {
    display: flex;
    justify-content: center;
}

.man__new__collection-button a {
    position: absolute;
    text-decoration: none;
    font-family: "calibri";
    background-color: rgb(235, 235, 235);
    color: rgb(70, 69, 69);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 25px;
    bottom: 3%;
}

/*  MAN imagen y estdistica Section   */

.man__new__collection__stadistic__wrap {
    width: 100vw;
    padding: 16px;
    background-color: rgb(252, 252, 252);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.man__new__collection__stadistic__wrap .man__new__collection-stadistic {
    display: inline-flex;
}

.man__new__collection-stadistic .man__new__collection-image {
    width: 190px;
    height: 250px;
}

.man__new__collection-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 100px;
}

.man__new__collection__advertising {
    width: 180px;
    height: 100px;
}

.man__new__collection__advertising h3 {
    padding-top: 20px;
    padding-left: 10px;
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
    color: rgb(70, 69, 69);
}

.man__new__collection__stadistic__numbers__wrap {
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 270px;
    height: 66px;
    border-radius: 3px;
    justify-self: center;
    bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.man__new__collection__stadistic-numbers {
    font-family: "calibri";
    color: rgb(70, 69, 69);
    text-align: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(70, 69, 69);
}

.man__new__collection__stadistic-number,
.last {
    border-right-style: none;
}

.man__new__collection__stadistic-numbers .number {
    font-weight: 700;
    font-size: 18px;
}

.man__new__collection__stadistic-numbers .detail {
    font-size: 11px;
}

/* best seller section*/

.man__best__seller__wrap {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 100vw;
    background-color: #A57F6C;
    padding-bottom: 20px;
}

.man__best__seller-title {
    width: 370px;
    height: 275px;
    padding-top: 30px;
    padding-left: 16px;
    color: whitesmoke;
}

.man__best__seller-title h3 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 40px;
}

.man__best__seller-title p {
    padding-top: 10px;
    font-family: "calibri";
    font-size: 17px;
}

.man__best__seller-button {
    margin-top: 20px;
}

.man__best__seller-button a {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: rgb(70, 69, 69);
    border-radius: 8px;
    font-weight: bold;
    font-family: "calibri";
    text-decoration: none;
}

.man__best__seller__cards__wrap {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    padding: 0px 50px;
}

.man__best__seller-card {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.man__best__seller-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.man__best__seller-price {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: "calibri";
    color: rgb(70, 69, 69);
}

.man__best__seller-price p {
    text-align: center;
    padding-top: 3px;
}

/*   MAN Our products */
.man__our__product__wrap {
    width: 100vw;
    display: grid;
    grid-template-rows: 0.4fr 8fr;
}

.man__our__product__links {
    text-align: center;
    padding-top: 30px;
}

.man__our__product__links h3 {
    font-family: "MADE TOMMY ExtraBold";
    color: rgb(70, 69, 69);
    font-size: 25px;
    padding-bottom: 15px;

}

.man__our__product__links a {
    text-decoration: none;
    font-family: "calibri";
    text-transform: uppercase;
    color: rgb(70, 69, 69);
    font-weight: 700;
    padding: 10px;
}

.man__our__product__cards__wrap {
    padding-top: 30px;
}

.man__our__product__cards {
    display: grid;
    grid-template-rows: repeat(8 1fr);
    justify-items: center;
    gap: 20px;

}

.man__our__product__cards-card {
    position: relative;
    display: flex;
    width: 290.4px;
    height: auto;
    align-items: end;

}

.man__our__product__cards-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.man__our__product__cards-data {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50px;
    font-family: "calibri";
}

.man__our__product__cards-data .our__product-title {
    font-weight: 700;
    font-size: 20px;
}

.man__our__product__cards-data .our__product-price {
    line-height: 0px;
    font-size: 18px;
}

/*estilo seccion   man deal*/

.man__deal__promotion__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: #1F8963;
    padding: 16px;
}

.man__deal__promotion__title {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.man__deal__promotion__title-title {
    color: whitesmoke;
    width: 160px;
}

.man__deal__promotion__title-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 30px;
}

.man__deal__promotion__title-title p {
    padding-top: 20px;
    font-family: "calibri";
    font-size: 18px;
    padding-bottom: 20px;
}

.man__deal__promotion__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 190px;
    text-align: center;
}

.man__deal__promotion__box .man__deal__promotion__box-box {
    background-color: whitesmoke;
    border-radius: 3px;
    width: 60px;
    height: 40px;
    color: rgb(70, 69, 69);
    font-family: "calibri";
    line-height: 5px;
    padding-top: 5px;

}

.man__deal__promotion__box-box .number {
    font-weight: 700;
    font-size: 17px;
}

.man__deal__promotion__box-box .time {
    font-size: 16px;
}

.man__deal__promotion-button {
    margin-top: 20px;
}

.man__deal__promotion-button a {
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: "calibri";
    padding: 8px;
    border-radius: 8px;
}

.man__deal__promotion-img {
    justify-self: end;
    width: 160px;
    height: auto;
}

.man__deal__promotion-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -292px;
}

/*  ---   ESTILO KIDS      ----  */
/*  ---    main section ----*/

.main__kids__wrap {
    background-image: url('../asset/img/main_kids.jpg');
    background-position: center;
    background-size: cover;
}

.main__kids-title {
    height: 100vmin;
    background-color: rgba(0, 0, 0, 0.2);
}

.main__kids__wrap h1 {
    font-size: 60px;
    font-family: "MADE TOMMY ExtraBold";
}

.main__kids__wrap p {
    font-size: 30px;
    font-family: "calibri";
    font-weight: 400;
}

.main__kids__wrap a {
    font-family: "calibri";
    font-weight: 700;
}

/*        new collection section      */

.new__collection__kids-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
}

.new__collection__kids-title p {
    font-family: "calibri";
    font-size: 18px;
}


/*--- best seller section---*/

.best__seller__kids__wrap {
    background-color: #A57F6C;
}

.best__seller__kids__wrap h2 {
    font-family: "MADE TOMMY ExtraBold";
    color: whitesmoke;
    font-size: 60px;
}

.best__seller__kids-title p {
    font-family: "calibri";
    color: whitesmoke;
    font-size: 25px;
}

/*--- deal section---*/
.deal__kids__wrap {
    background-color: #1F8963;
}

.deal__kids-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 35px;
    color: whitesmoke;
}

.deal__kids-title h5 {
    font-family: "MADE TOMMY ExtraBold";
    margin: 0;
}

.deal__kids-detail {
    color: whitesmoke;
}

.card {
    width: 59px;
    padding: 0px;
}

.card-body {
    width: 100%;
    padding: 0px;
}

.card-text {
    font-family: "calibri";
    font-size: 13px;
}

.deal__kids__wrap a {
    font-family: "calibri";
}

.deal__kids-img {
    width: 180px;
    height: auto;
}

.deal__kids-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -260px;
}

/* --- ESTILO PAGINA CONTACTO ---*/
.form__login__wrap {
    height: 500px;
    padding-top: 20%;
    background-color: #1F8963;
}

.form__login-button {
    font-family: "calibri";
}

/* --- formulario de contacto y mapa --*/
.contact__form__maps {
    background-color: #1F8963;
}

.contact__form__maps .adress {
    font-family: "calibri";
    color: whitesmoke;
    font-size: 18px;
}

.adress h2 {
    font-weight: 700;
}

/* ---  ESTILO UNDER CONSTRUCTION   --- */

.under__construction__wrap {
    background: whitesmoke;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.under__construction-img {
    width: 320px;
    height: auto;
    padding: 15px;
    margin-top: 100px;
}

.under__construction-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-construction {
    width: 310px;
    height: auto;
    justify-self: center;
}

.message-construction h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;
}

.message-construction h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
}

/*     ==========================================   */
/*    =====>>>>>>> MEDIDA DESKTOP<<<<<<<==========  */
/*     ==========================================   */


@media (min-width: 992px) {

    /*  ----- ESTILOS DEL HEADER  -----  */

    .navbar img:hover{
        transform: rotate(360deg);
        transition: all 0.5s;
    }

    .navbar li a:hover {
        background-color: #1F8963;
        border-radius: 5px;
        font-weight: bold;
    }

    /* -----  ESTILOS DEL MAIN  -----  */

    .main__titulo {
        top: 10%;
        width: 600px;
    }

    .main__titulo h1 {
        color: rgb(255, 255, 255);
        margin-top: 10%;
        padding-left: 50px;
        font-size: 800%;
        text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    }

    .main__titulo .main__titulo-shopbtn {
        margin-left: 40px;
    }

    .main__titulo-shopbtn a {
        width: 160px;
        height: 45px;
        font-size: 28px;
    }


    /* ESTILO PAGINA WOMAN
       head
     */

    .main__woman__wrap {
        height: 100vh;
        background-color: #E37C73;
        display: flex;
    }

    .main__woman-title {
        display: flex;
        padding-top: 100px;
        margin-left: 30px;
        width: 580px;

    }

    .main__woman-title h2 {
        font-size: 130px;
        line-height: 130px;
    }

    .main__woman-title p {
        width: 580px;
        font-family: "calibri";
        padding-top: 20px;
        font-size: 30px;
    }

    .main__woman-title .link-shop {
        margin-top: 20px;
    }

    .main__woman-title .link-shop a {
        padding: 20px 30px;
    }

    .main__woman-title .link-shop a:hover {
        color: rgb(70, 69, 69);
        font-size: 25px;
        font-weight: bold;
        background-color: whitesmoke;
    }

    .main__woman-image img {
        width: 690px;
        height: auto;
        padding-top: 100px;
        padding-right: 150px;
    }

    /* seccion nueva coleccion */

    .new__collection-title .title {
        font-size: 40px;
    }
    .new__collection-title p {
        font-size: 20px;
    }

     /*  IMAGEN Y ESTADISTICA*/
/*
    .new__collection__stadistic__wrap {
        height: 100vh;
        padding: 30px;
    }

    .new__collection-stadistic {
        padding-left: 100px;
    }

    .new__collection-stadistic .new__collection-image {
        width: 611px;
    }

    .new__collection__advertising {
        width: 600px;
        height: 100px;
    }

    .new__collection__advertising h3 {
        padding-top: 100px;
        padding-right: 50px;
        font-size: 80px;
    }

    .new__collection__stadistic__numbers__wrap {
        width: 555px;
        height: 150px;
        border-radius: 8px;
        bottom: 80px;
    }

    .new__collection__stadistic-numbers .number {
        font-weight: 700;
        font-size: 40px;
    }

    .new__collection__stadistic-numbers .detail {
        font-size: 18px;
    }
*/
    /* best seller section*/

    .best__seller__wrap {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        padding: 40px 0px 50px 30px;
    }

    .best__seller-title {
        padding-left: 60px;

    }

    .best__seller-title p {
        font-size: 20px;
    }

    .best__seller-button {
        margin-top: 30px;
    }

    .best__seller__cards__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        width: 1050px;
    }

    /*  Our products */
    .our__product__wrap {
        grid-template-rows: 0.4fr 2fr;
        justify-items: center;

    }

    .our__product__links h3 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .our__product__links a {
        letter-spacing: 4px;
    }

    .our__product__cards__wrap {
        padding: 30px;
        width: 1400px;
    }

    .our__product__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    /*estilo seccion deal*/

    .deal__promotion__wrap {
        padding: 30px;
    }

    .deal__promotion__title {
        width: 700px;
        align-items: start;
        padding-left: 200px;
    }

    .deal__promotion__title-title {
        width: 520px;
    }

    .deal__promotion__title-title h2 {
        font-size: 70px;
    }

    .deal__promotion__title-title p {
        padding-bottom: 40px;
    }

    .deal__promotion__box {
        width: 360px;

    }

    .deal__promotion__box .deal__promotion__box-box {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 80px;
        justify-content: center;
        line-height: 20px;
    }

    .deal__promotion__box-box .number {
        font-weight: 700;
        font-size: 30px;
    }

    .deal__promotion__box-box .time {
        font-size: 20px;
    }

    .deal__promotion-button {
        margin-top: 40px;

    }

    .deal__promotion-button a {
        padding: 15px;
        font-size: 20px;
    }

    .deal__promotion__wrap img {
        float: right;
        height: 500px;
        width: auto;
        padding-right: 180px;

    }

    /*   ESTILO PAGINA HOMBRES */
    .main__man__wrap {
        height: 100vh;
    }

    .main__man__background-img {
        width: 100vw;
        height: 100vh;
    }

    .main__man__title {
        padding-left: 70px;
        width: 600px;
    }

    .main__man__title h2 {
        font-size: 100px;
        color: white;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    }

    .main__man__title p {
        font-size: 20px;
        color: rgb(70, 69, 69);
        padding: 15px 0px;
    }

    .main__man-button {
        margin-top: 25px;
    }

    .main__man-button a {
        font-size: 20px;
        padding: 15px 25px
    }

    .main__man-button a:hover {
        color: rgb(70, 69, 69);
        background-color: whitesmoke;
        font-weight: 700;
    }


    /*  MAN New Collection Section   */

    .man__new__collection-title {
        padding: 3% 0% 1% 0%;
    }

    .man__new__collection__wrap {
        background-color: whitesmoke;
        display: grid;
        grid-template-rows: 0.5fr 1fr;
    }

    .man__new__collection-title h3 {
        font-size: 40px;
    }

    .man__new__collection-title p {
        font-size: 20px;
        padding-top: 1%;
    }


    .man__new__collection__images__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        align-items: center;
    }

    .man__new__collection-button a:hover {
        transform: scale(1.05);
        background-color: rgb(212, 212, 212);
    }

    /*  MAN imagen y estdistica Section   */

    .man__new__collection__stadistic__wrap {
        height: 100vh;
        padding: 30px;
    }

    .man__new__collection-stadistic {
        padding-left: 100px;
    }

    .man__new__collection-stadistic .man__new__collection-image {
        width: 611px;
        height: 650px;
    }

    .man__new__collection-image img {
        border-top-right-radius: 250px;
    }

    .man__new__collection__advertising {
        width: 600px;
        height: 100px;
    }

    .man__new__collection__advertising h3 {
        padding-top: 100px;
        padding-left: 80px;
        font-size: 80px;
    }

    .man__new__collection__stadistic__numbers__wrap {
        width: 555px;
        height: 150px;
        border-radius: 8px;
        bottom: 80px;
    }

    .man__new__collection__stadistic-numbers .number {
        font-weight: 700;
        font-size: 40px;
    }

    .man__new__collection__stadistic-numbers .detail {
        font-size: 18px;
    }

    /*  Our products */
    .man__our__product__wrap {
        grid-template-rows: 0.4fr 2fr;
        justify-items: center;

    }

    .man__our__product__links h3 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .man__our__product__links a {
        letter-spacing: 4px;
    }

    .man__our__product__cards__wrap {
        padding: 30px;
        width: 1400px;
    }

    .man__our__product__cards-card {
        width: 290.4px;
        height: 334.08px;

    }

    .man__our__product__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    /* best seller section*/

    .man__best__seller__wrap {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        padding: 40px 0px 50px 30px;
    }

    .man__best__seller-title {
        padding-left: 60px;

    }

    .man__best__seller-title p {
        font-size: 20px;
    }

    .man__best__seller-button {
        margin-top: 30px;
    }

    .man__best__seller__cards__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        width: 1050px;
    }

    .man__deal__promotion__wrap {
        padding: 30px;
    }

    .man__deal__promotion__title {
        width: 700px;
        align-items: start;
        padding-left: 200px;
    }

    .man__deal__promotion__title-title {
        width: 520px;
    }

    .man__deal__promotion__title-title h2 {
        font-size: 70px;
    }

    .man__deal__promotion__title-title p {
        padding-bottom: 40px;
    }

    .man__deal__promotion__box {
        width: 360px;

    }

    .man__deal__promotion__box .man__deal__promotion__box-box {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 80px;
        justify-content: center;
        line-height: 20px;
    }

    .man__deal__promotion__box-box .number {
        font-weight: 700;
        font-size: 30px;
    }

    .man__deal__promotion__box-box .time {
        font-size: 20px;
    }

    .man__deal__promotion-button {
        margin-top: 40px;

    }

    .man__deal__promotion-button a {
        padding: 15px;
        font-size: 20px;
    }

    .man__deal__promotion__wrap img {
        float: right;
        height: 500px;
        width: auto;
        padding-right: 10px;

    }

    /* ---- ESTILO PAGINA KIDS  ----*/
    /*  ---    main section ----*/
    .main__kids__wrap h1 {
        font-size: 220px;
    }

    .main__kids__wrap p {

        font-size: 30px;

    }

    /*  ---    new collection section ----*/

    .new__collection__kids-title h2 {
        font-size: 40px;
    }

    .new__collection__kids-title p {
        font-size: 20px;
    }

    .best__seller__kids__wrap{
        height: 580px;
    }


    /*  ---  deal section ----*/
    .deal__kids-title h2 {
        font-size: 70px;
    }

    .deal__kids-detail {
        font-size: 18px;
    }

    .deal__kids__wrap .card {
        width: 90px;
        height: 60px;
    }

    .card_wrap {
        padding-left: 10px;
    }

    .deal__kids-title h5 {
        font-size: 30px;
    }

    .card-text {
        font-size: 20px;
    }

    .deal__kids__wrap a {
        font-size: 18px;
    }

    .deal__kids-img {
        width: 600px;
        height: auto;
    }

    .deal__kids-img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 0px;
    }

    /*  ---- ESTILO PAGINA CONTACTO -----  */
    /*  LOG IN  */

    .user {
        height: 100vh;
        background-color: #DFB7AF;
    }

    .user__form__wrap {
        position: absolute;
        margin-top: 200px;
        margin-left: 580px;
        width: 343px;
        height: 250px;
        background-color: #FBDA97;
        border-radius: 15px;
    }

    .user__form__wrap .user__form-title {
        font-family: "calibri";
        padding-top: 20px;
        text-align: center;
        font-weight: 700;
        color: rgb(70, 69, 69);
    }

    .user__form__wrap ul {
        margin-top: 15px;
        margin-left: 50px;
        padding: 10px;
    }

    .user__form__wrap ul li {
        padding: 3px;
    }

    .user__form__only ul input {
        text-align: center;
        border-style: none;
        border-radius: 15px;
        height: 30px;
        width: 220px;
    }

    .user__form__only .button {
        height: 25px;
        width: 75px;
        text-align: center;
        border-style: none;
        border-radius: 15px;
        margin-left: 137px;
        background-color: #1F8963;
        color: white;
    }

    .user__form__only .button:hover {
        background-color: white;
        color: black;
    }

    .user__form__wrap .account {
        position: absolute;
        padding-left: 100px;
        padding-top: 15px;
        text-decoration: none;
        font-size: 15px;
        color: brown;
    }

    /*  CONTACTO   */
    .form__login__wrap {
        height: 100vh;
        padding-top: 10%;
        background-color: #1F8963;
    }

    .form__login {
        background-color: whitesmoke;
        color: rgb(70, 69, 69);
    }


    /*  ---- ESTILO PAGINA UNDER CONTRUCTION -----  */

    .under__construction__wrap {
        background: whitesmoke;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .under__construction-img {
        width: 600px;
        height: auto;
        padding: 30px;
        transform: skewY(5deg);
    }

    .under__construction-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .message-construction {
        width: 700px;
        justify-self: start;
    }

    .message-construction h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 90px;
        font-weight: 700;
    }

    .message-construction h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: uppercase;
    }
}