/* ---- FUENTES ---- */

@font-face {
    font-family: "calibri";
    src: url("../asset/fonts/calibri.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MADE TOMMY ExtraBold";
    src: url("../asset/fonts/MADE\ TOMMY\ ExtraBold.otf");
    font-style: normal;
    font-weight: 700;
}