
// Modificador de radios de una imagen incrustada.
@mixin radio($radius,$radius2) {
    border-top-left-radius:$radius;
    border-bottom-right-radius: $radius2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// creacion de padding de clase 5 a 10.

@for $i from 5 through 10 {
    .padding-#{$i}{
        padding: 1.2rem*$i;
    }    
}

