.detail__product{
    &__wrap{
        p{
            font-family: 'calibri';
        }
    }
    &__checkout{
        &-det{
            h3{
                font-size: 30px;
                //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-family: 'MADE TOMMY ExtraBold';
            }
        }

        &-price{
            p{
                margin:0;
            }
            .number2{
                text-decoration: line-through;
                font-size: 15px;
            }
            .number{
                font-size: 30px;
            }
            a{
                font-size: 16px;
            }
        }
        &-btns{
            width: 280px;
            padding-top: 20px;
            
        }
    }
}

@media screen and (min-width: 992px){

    .detail__product{
        &__checkout{
            &-det{
                h3{
                    font-size: 50px;
                }
            }
            &-price{
                p{
                    margin:0;
                }
                .number2{
                    font-size: 25px;
                }
                .number{
                    font-size: 40px;
                }
            }
            &-btns{
                width: 400px;
                padding-top: 20px;
                
            }
        }
    }
    
}