/* ---  ESTILO UNDER CONSTRUCTION   --- */

.under__construction {
    &__wrap {
        background: whitesmoke;
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr 1fr;

        .message-construction {
            width: 310px;
            height: auto;
            justify-self: center;

            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 40px;
                font-weight: 700;
            }

            h2 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 18px;
                line-height: 50px;
                text-transform: uppercase;
            }
        }
    }

    &-img {
        width: 320px;
        height: auto;
        padding: 15px;
        margin-top: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}


@media (min-width: 992px) {

    /*  ---- ESTILO PAGINA UNDER CONTRUCTION -----  */

    .under__construction {
        &__wrap {
            background: whitesmoke;
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .message-construction {
                width: 700px;
                justify-self: start;

                h1 {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 90px;
                    font-weight: 700;
                }

                h2 {
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 30px;
                    line-height: 50px;
                    text-transform: uppercase;
                }
            }
        }

        &-img {
            width: 600px;
            height: auto;
            padding: 30px;
            transform: skewY(5deg);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}