/* ---->  ESTILO MAIN  <---- */

.main {
    &__wrap {
        position: relative;
        height: 100vh;
    }

    &__title {
        h1 {
            font-family: "MADE TOMMY ExtraBold";
            font-size: 45px;
            color: whitesmoke;
            line-height: 75px;
            text-shadow: black;
        }

        a {
            font-size: 16px;
            font-family: "calibri";

        }
    }

    &__video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
            filter: sepia(0.2);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.carousel {
    &-item {
        h2 {
            font-family: "MADE TOMMY ExtraBold";
            font-size: 20px;
            color: rgb(70, 69, 69);
            
        }
        p{
            font-family: 'calibri';
            font-size: 14px;
        }
        .text-kid{
            font-size: 16px;
        }
    }
}




@media screen and (min-width: 992px) {

    /* -----  ESTILOS DEL MAIN  -----  */
    .main {
        &__title {

            h1 {
                font-size: 130px;
                line-height: 120px;
            }

            a {
                font-size: 25px;
                font-family: "calibri";
            }
        }
    }
    

    /* seccion nueva*/
    .homePageExtra {
        &__Info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 100% !important;
            height: 100%;
            margin: auto;

            a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                width: auto;
                height: 100%;
                color: #404040;
                text-decoration: none;
                font-size: 11px;

                span:last-child {
                    margin-left: 0.5rem;
                    padding-left: 0.34rem;
                    border-left: 1px solid #000000;
                    font-size: 13px;
                    line-height: 1.503rem;
                    letter-spacing: 0.5px;
                }

                .loaded {
                    padding-left: 20px;
                }

                .last__span {
                    width: 240px;
                }
            }
            &__Cont {
                display: flex;
                flex-flow: row nowrap;
                width: 1495px;
                height: 3.364rem;
                margin-top: 3vw;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


.carousel {
        &__wrap {
            max-width: 1500px !important;
        }
        &-item {
            h2 {
                max-width: 600px;
                font-size: 120px;
                line-height: 80px;
            }
            p{
                font-size: 30px;
            }
            .text-kid{
                font-size: 50px;
            }
        }
    }
    

}