/*-------------------------------*/
/*  ---   ESTILO KIDS      ----  */
/*-------------------------------*/

/*  ---    main section ----*/

.main__kids {
    &__wrap {
        background-image: url('../asset/img/fondo-kid.png');
        background-position: center;
        background-size: cover;

        h1 {
            font-size: 100px;
            font-family: "MADE TOMMY ExtraBold";
            text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
            line-height: 60px;
        }

        p {
            font-size: 30px;
            font-family: "calibri";
            font-weight: 400;
            color: white;
        }

        a {
            font-family: "calibri";
            font-weight: 700;
        }
    }

    &-title {
        height: 100vmin;
        background-color: rgba(0, 0, 0, 0.2);
    }
}



/*  ---   New collection section  ---  */

.new__collection__kids {
    &-title {
        h2 {
            font-family: "MADE TOMMY ExtraBold";
            font-size: 25px;
        }

        p {
            font-family: "calibri";
            font-size: 18px;
        }
    }

    &__wrap {
        background-color: whitesmoke;

        .card {
            width: 320px !important;
            height: auto;
        }
    }
}

/*--- best seller section---*/

.best__seller__kids {
    &__wrap {
        background-color: #A57F6C;
    }

    &-title {
        h2 {
            font-family: "MADE TOMMY ExtraBold";
            color: whitesmoke;
            font-size: 40px;
        }

        p {
            font-family: "calibri";
            color: whitesmoke;
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }
    }

    &-items {
        .card {
            width: 280px !important;
            height: auto;
        }
    }

}


/*--- deal section---*/

.deal__kids {
    &__wrap {
        background-color: whitesmoke;

        a {
            font-family: "calibri";
        }
    }
    &__title{
    &-title {
        h2 {
            font-family: "MADE TOMMY ExtraBold";
            font-size: 35px;
            color: 'dark';
        }

        p {
            font-family: "calibri";
            font-size: 15px;
            margin: 0;
        }

    }
}

    &-detail {
        color: 'dark';
    }

    &-img {
        width: 180px;
        height: auto;

        img {
            @include radio(40px, 40px);
            object-position: -220px;
        }
    }
}

.deal__kids__card__wrap {
    .card {
        width: 59px;
        padding: 0px;

        &-body {
            width: 100%;
            padding: 0px;

            .number {
                font-size: 20px;
            }

            &-text {
                font-family: "calibri";
                font-size: 13px;
                line-height: 3px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    /* NEW COLLECTION SECTION */

    .new__collection__kids {
        &-title {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }
        }

        &__images {
            .card {
                width: 180px !important;
                height: auto;
            }
        }
    }

    /* best seller section*/
    .best__seller__kids {

        &-items {
            .card {
                width: 160px !important;
                height: auto;

                &-body {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    /*estilo seccion deal*/

    .deal__kids {
        &__card__wrap {
            .card {
                width: 90px !important;
                height: 60px;

                .card-body {
                    width: 100%;

                    .card-text {
                        font-size: 13px;
                    }
                }
            }
        }
        &__title {
            a {
                font-size: 20px;
            }

            &-title {
                h2 {
                    font-size: 70px;
                }

                p {
                    font-size: 25px;
                }
            }
        }

        &-img {
            width: 350px;
            height: 600px;

            img {
                @include radio(100px, 100px);
                object-position: -480px;
            }
        }
    }


}

@media screen and (min-width: 992px) {

    /* ---- ESTILO PAGINA KIDS  ----*/
    /*  ---    main section ----*/
    .main__kids__wrap {
        h1 {
            font-size: 220px;
            line-height: 180px;
        }

        p {
            font-size: 30px;
        }

        a {
            font-size: 25px;
        }
    }

    /*  ---    new collection section ----*/
.new__collection__kids{
    &__wrap{
        .card {
            width: 320px !important;
            height: auto;
        }
    }

    &-title {
        h2 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }
    }
}
    /*  ---  Best seller section  ---  */

    .best__seller__kids {

        &-title {
            h2 {
                font-size: 60px;
            }

            p {
                font-size: 25px;
            }

            a {
                font-size: 20px;
            }
        }
        &-items {
            .card {
                width: 280px !important;
                height: auto;
            }
        }
    }


    /*  ---  Deal section ---  */

    .deal__kids {
        &-title {
            h2 {
                font-size: 70px;
            }

            h5 {
                font-size: 30px;
            }

            &-detail {
                font-size: 18px;
            }

            a {
                font-size: 18px;
            }
        }

        &__card__wrap {
            padding-left: 10px;

            .card {
                width: 90px !important;

                .number {
                    font-size: 25px;
                }

                &-text {
                    font-size: 18px;
                }
            }
        }

        &-img {
            width: 600px;
            height: auto;

            img {
                @include radio(100px, 100px);
                object-position: 0px;
            }
        }
    }
}