/*-------------------------------*/
/*  ---   ESTILO KIDS      ----  */
/*-------------------------------*/

/*  ---    main section ----*/

.main__kids{
    &__wrap {
    background-image: url('../asset/img/main_kids.jpg');
    background-position: center;
    background-size: cover;

    h1{
        font-size: 60px;
        font-family: "MADE TOMMY ExtraBold";
    }
    
    p{
        font-size: 30px;
        font-family: "calibri";
        font-weight: 400;
    }
    a {
        font-family: "calibri";
        font-weight: 700;
    }
}
    &-title {
        height: 100vmin;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
    


/*  ---   New collection section  ---  */

.new__collection__kids{
    &-title{ 
        h2 {
        font-family: "MADE TOMMY ExtraBold";
        font-size: 25px;
        }
        p {
        font-family: "calibri";
        font-size: 18px;
        }
    }
    &__wrap{
        .card{
            width: 320px !important;
            height: auto;
        }
    }
}

/*--- best seller section---*/

.best__seller__kids{ 
    &__wrap {
    background-color: #A57F6C;
    }
    
    &-title{
        h2 {
            font-family: "MADE TOMMY ExtraBold";
            color: whitesmoke;
            font-size: 40px;
        } 
        p {
        font-family: "calibri";
        color: whitesmoke;
        font-size: 25px;
        }
    }
    &-items{
        .card{
            width: 280px !important;
            height: auto;
        }
    }

}


/*--- deal section---*/

.deal__kids{
    &__wrap {
    background-color: #1F8963;
    a {
        font-family: "calibri";
    }
   }
    &-title{
         h2 {
            font-family: "MADE TOMMY ExtraBold";
            font-size: 35px;
            color: whitesmoke;
        }
        h5 {
            font-family: "MADE TOMMY ExtraBold";
            margin: 0;
        }
        p{
            font-family: "calibri";
            margin: 0;
        }

    }

    &-detail {
        color: whitesmoke;
    }

    &-img {
        width: 180px;
        height: auto;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: -250px;
        }
    }
}
.deal__kids__card__wrap{
    .card {
        width: 59px;
        padding: 0px;
    
        .card-body {
            width: 100%;
            padding: 0px;
    
            .card-text {
                font-family: "calibri";
                font-size: 13px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    
    /* ---- ESTILO PAGINA KIDS  ----*/
    /*  ---    main section ----*/
    .main__kids__wrap{
        h1 {
        font-size: 220px;
    }
        p {
            font-size: 30px;
        }

        a{
            font-size: 25px;
        }
    }

    /*  ---    new collection section ----*/

    .new__collection__kids-title{ 
        h2 {
            font-size: 40px;
    }
        p {
            font-size: 20px;
    }
}

/*  ---  Best seller section  ---  */

    .best__seller__kids{ 
        &__wrap {
        height: 580px;
        background-color: #A57F6C;
        }
        
        &-title{
            h2 {
                font-size: 60px;
            } 
            p {
            font-size: 25px;
            }
            a{
            font-size:20px ;
            }
        }    
    }


    /*  ---  Deal section ---  */

    .deal__kids{ 
        &-title{ 
            h2 {
                font-size: 70px;
            }
            h5 {
                font-size: 30px;
            }
        &-detail {
            font-size: 18px;
        }
        a {
            font-size: 18px;
        }
    }
         
    &__card__wrap{
        padding-left: 10px;
        
        .card {
            width: 90px !important;
            height: 60px;

            &-text {
                font-size: 20px;
            }
        }
    }
    &-img {
        width: 600px;
        height: auto;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: 0px;
        }
    }
}
}