/*----  ESTILO WOMAN  ----  */
/*  main section  */
.main__woman__wrap {
    width: 100vw;
    background-color: #E37C73;
    display: flex;
}

.main__woman-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 34%;
    margin-left: 16px;
    width: 255px;

}

.main__woman-title h2 {
    font-size: 42px;
    line-height: 50px;
    font-family: "MADE TOMMY ExtraBold";
    color: white;
}

.main__woman-title p {
    font-family: "calibri";
    width: 200px;
    padding-top: 8px;
    font-size: 16px;
    color: rgb(70, 69, 69);
}


.main__woman-title .link-shop {
    display: flex;
    margin: 10px 0px 20px 0px;
}

.main__woman-title .link-shop a {
    font-size: 20px;
    text-decoration: none;
    font-family: "calibri";
    color: whitesmoke;
    background-color: #1F8963;
    border-radius: 8px;
    padding: 10px 15px;
}

.main__woman-image {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.main__woman-image img {
    width: 266px;
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
}

/*  New Colletion section  */

.new__collection__wrap {
    background-color: whitesmoke;
}

.new__collection-title .title {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
    color: rgb(70, 69, 69);
}

.new__collection-title p {
    font-size: 16px;
    font-family: "calibri";
    color: rgb(70, 69, 69);
}


.new__collection-button a{
    font-family: "calibri";
    color: rgb(70, 69, 69);
    background-color: rgb(235, 235, 235);
}

/*  IMAGEN Y ESTADISTICA*/



.new__collection__stadistic__wrap {
    background-color: rgb(252, 252, 252);
}

.new__collection__advertising h3 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 25px;
    color: rgb(70, 69, 69);
}

.new__collection__stadistic__numbers__wrap {
    width: 240px;
    height: 66px;
}

.new__collection__stadistic-numbers {
    font-family: "calibri";
    color: rgb(70, 69, 69);
    width: 220px;
}

.new__collection__stadistic-numbers .number {
    font-weight: 700;
    font-size: 18px;
}

.new__collection__stadistic-numbers .detail {
    font-size: 16px;
}

/* best seller section*/

.best__seller__wrap {
    background-color: #A57F6C;
}

.best__seller-title {
    color: whitesmoke;
}

.best__seller-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 40px;
}

.best__seller-title p {
    font-family: "calibri";
    font-size: 17px;
}

/*  Our products */
.our__product__wrap {
    width: 100vw;
    display: grid;
    grid-template-rows: 0.4fr 8fr;
}

.our__product__links {
    text-align: center;
    padding-top: 30px;
}

.our__product__links h3 {
    font-family: "MADE TOMMY ExtraBold";
    color: rgb(70, 69, 69);
    font-size: 25px;
    padding-bottom: 15px;

}

.our__product__links a {
    text-decoration: none;
    font-family: "calibri";
    text-transform: uppercase;
    color: rgb(70, 69, 69);
    font-weight: 700;
    padding: 10px;
}

.our__product__cards__wrap {
    padding-top: 30px;
}

.our__product__cards {
    display: grid;
    grid-template-rows: repeat(8 1fr);
    justify-items: center;
    gap: 20px;

}

.our__product__cards-card {
    position: relative;
    display: flex;
    width: 290.4px;
    height: auto;
    align-items: end;

}

.our__product__cards-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our__product__cards-data {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50px;
    font-family: "calibri";
}

.our__product-title {
    font-weight: 700;
    font-size: 20px;
}

.our__product-price {
    font-size: 18px;
}

/*estilo seccion deal*/
.deal__promotion__title{
    background-color: #E37C73;
}
.card{
    width: 50px !important;
    height: 50px;
    margin: 3px;
    &h5{
        font-family: "calibri";
        margin: 0;
        padding: 0;
    }
    &p{
        font-family: "calibri";
        margin: 0;
        padding: 0;
    }
}

.deal__promotion-img {
    width: 180px;
    height: auto;
}

.deal__promotion-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -70px;
}
/*
.deal__promotion__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: #E37C73;
    padding: 16px;
}

.deal__promotion__title {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.deal__promotion__title-title {
    color: whitesmoke;
    width: 160px;
}

.deal__promotion__title-title h2 {
    font-family: "MADE TOMMY ExtraBold";
    font-size: 30px;
}

.deal__promotion__title-title p {
    padding-top: 20px;
    font-family: "calibri";
    font-size: 18px;
    padding-bottom: 20px;
}

.deal__promotion__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 190px;
    text-align: center;
}

.deal__promotion__box .deal__promotion__box-box {
    background-color: whitesmoke;
    border-radius: 3px;
    width: 60px;
    height: 40px;
    color: rgb(70, 69, 69);
    font-family: "calibri";
    line-height: 15px;
    padding-top: 5px;

}

.deal__promotion__box-box .number {
    font-weight: 700;
    font-size: 17px;
}

.deal__promotion__box-box .time {
    font-size: 16px;
}

.deal__promotion-button {
    margin-top: 20px;
}

.deal__promotion-button a {
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: "calibri";
    padding: 8px;
    border-radius: 8px;
}

.deal__promotion-img {
    justify-self: end;
    width: 160px;
    height: auto;
}

.deal__promotion-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
*/

@media (min-width: 992px){
    /* --- ESTILO PAGINA WOMAN  ---- */
    /* head */

    .main__woman__wrap {
        height: 100vh;
        background-color: #E37C73;
        display: flex;
    }

    .main__woman-title {
        display: flex;
        padding-top: 100px;
        margin-left: 30px;
        width: 580px;

    }

    .main__woman-title h2 {
        font-size: 130px;
        line-height: 130px;
    }

    .main__woman-title p {
        width: 580px;
        font-family: "calibri";
        padding-top: 20px;
        font-size: 30px;
    }

    .main__woman-title .link-shop {
        margin-top: 20px;
    }

    .main__woman-title .link-shop a {
        padding: 20px 30px;
    }

    .main__woman-title .link-shop a:hover {
        color: rgb(70, 69, 69);
        font-size: 25px;
        font-weight: bold;
        background-color: whitesmoke;
    }

    .main__woman-image img {
        width: 690px;
        height: auto;
        padding-top: 100px;
        padding-right: 150px;
    }

    /* seccion nueva coleccion */

    .new__collection-title .title {
        font-size: 40px;
    }
    .new__collection-title p {
        font-size: 20px;
    }

     /*  IMAGEN Y ESTADISTICA*/
/*
    .new__collection__stadistic__wrap {
        height: 100vh;
        padding: 30px;
    }

    .new__collection-stadistic {
        padding-left: 100px;
    }

    .new__collection-stadistic .new__collection-image {
        width: 611px;
    }

    .new__collection__advertising {
        width: 600px;
        height: 100px;
    }

    .new__collection__advertising h3 {
        padding-top: 100px;
        padding-right: 50px;
        font-size: 80px;
    }

    .new__collection__stadistic__numbers__wrap {
        width: 555px;
        height: 150px;
        border-radius: 8px;
        bottom: 80px;
    }

    .new__collection__stadistic-numbers .number {
        font-weight: 700;
        font-size: 40px;
    }

    .new__collection__stadistic-numbers .detail {
        font-size: 18px;
    }
*/
    /* best seller section*/

    .best__seller-title {        
        h2{
            font-size: 70px;
        }
        p{
            font-size: 28px;
        }
        .btn{
            --bs-btn-font-size: 1.5rem;
            --bs-btn-font-family:"calibri";
        }
    }

    /*  Our products */
    .our__product__wrap {
        grid-template-rows: 0.4fr 2fr;
        justify-items: center;

    }

    .our__product__links h3 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .our__product__links a {
        letter-spacing: 4px;
    }

    .our__product__cards__wrap {
        padding: 30px;
        width: 1400px;
    }

    .our__product__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    /*estilo seccion deal*/

    .deal__promotion__wrap {
        padding: 30px;
    }

    .deal__promotion__title {
        width: 700px;
        align-items: start;
        padding-left: 200px;
    }

    .deal__promotion__title-title {
        width: 520px;
    }

    .deal__promotion__title-title h2 {
        font-size: 70px;
    }

    .deal__promotion__title-title p {
        padding-bottom: 40px;
    }

    .deal__promotion__box {
        width: 360px;

    }

    .deal__promotion__box .deal__promotion__box-box {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 80px;
        justify-content: center;
        line-height: 20px;
    }

    .deal__promotion__box-box .number {
        font-weight: 700;
        font-size: 30px;
    }

    .deal__promotion__box-box .time {
        font-size: 20px;
    }

    .deal__promotion-button {
        margin-top: 40px;

    }

    .deal__promotion-button a {
        padding: 15px;
        font-size: 20px;
    }

    .deal__promotion__wrap img {
        float: right;
        height: 500px;
        width: auto;
        padding-right: 180px;

    }

}