/* ----  ESTILO FOOTER  ----  */
.footer {
    &__wrap {
        background: #212529;

        p {
            color: whitesmoke;
        }

        a {
            color: whitesmoke;
        }

        ul {
            padding-left: 1.5rem;
        }
    }

    &__img {

        img {
            width: 394px;
            height: auto;
            object-fit: contain;
        }
    }

    p {
        font-family: "calibri";
        color: whitesmoke;
    }


    &__titles {
        font-size: 18px;
        color: whitesmoke;

    }

    &__coment {
        color: whitesmoke;
    }

}

@media screen and (min-width: 992px) {
    .footer{
        &__img{
            img{
                max-width: 300px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .footer{
        &__img{
            img{
                max-width: 350px;
            }
        }
    }
}