/* ----  ESTILO FOOTER  ----  */
.footer {
    &__wrap {
        background: #745a4d;
        p{
            color:whitesmoke;
        }
        a{
            color: whitesmoke;
        }
         ul{
            padding-left: 1.5rem;
        }
    }

    &__img {
        img {
            width: 394px;
            height: 400px;
            object-fit: contain;
        }
    }

    p {
        font-family: "calibri";
        color: whitesmoke;
    }
    

    &__titles {
        font-size: 18px;
        color: whitesmoke;
       
    
    }

    &__coment {
        color: whitesmoke;
    }
    
}

